.GuestsSidebar {
  width: 30%;
  min-width: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: burlywood;
}

.GuestsSearchListBlock {
  margin: 0 30px;
}

.GuestsSearchActionArea {
  height: 30px;
  padding: 10px 0
}

.GuestsSearchList {
  /* width: 400px; */
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.GuestCard {
  border-bottom: rgba(59, 39, 77, 0.822) solid 2px;
  border-radius: 5px;
}

.GuestCardVertical {
  border-radius: 6px;
}

.AnonimousGuestsButton {
  font-size: 20px;
  padding: 10px;
}

.AnonimousGuestsLabel {
  font-size: 20px;
}

.SearchInput, .SearchInput:focus {
  height: 25px;
  width: 260px;
}
