.TablesTabSidebar {
  width: 40%;
  padding: 20px;
  background-color:rgb(221, 206, 186);
}

.TablesTabMain {
  padding: 20px 20px 0 20px
}

.DateButton {
  font-size: 12px;
  color: rgb(94, 138, 68);
  background-color: rgb(250, 250, 253);
  border: solid 2px rgba(131, 93, 93, 0.445)
}

.DateButtonActive {
  background-color: rgb(91, 46, 109);
  color: whitesmoke;
}

.TimeslotButton {
  font-size: 16px;
  color: rgb(109, 41, 109);
  border-color: transparent;
  border-bottom: 1px rgb(118, 180, 180);
  border-bottom-style: dotted;
}

.TimeslotButton[disabled] {
  border-color: transparent;
  border-bottom: 1px solid rgb(118, 180, 180);
}

.TimeslotButtonActive {
  background-color: rgb(116, 26, 134);
  color: whitesmoke;
}

.TimeslotButtonActive:not([disabled]):not(.menu):not(.link):hover {
  background-color: rgb(116, 26, 134);
  color: whitesmoke;
}

.TablesMapContainer {
  padding: 50px;
  background-color: rgb(174, 190, 174);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);;
}

.VenueSelect+input {
  background-color:ivory
}

.VenueSelectIcon[class*="MuiSelect-icon"] {
  color: rgb(196, 252, 144)
}

.SailingDateBlock {
  line-height: 11pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

.SailingDateText {
  font-size: 16px;
}


